{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  Anime Recommender
{% endblock %}
{% block page_heading%}
  Anime Verse
  <!--Page heading-->
{% endblock %}
{% block link %}
  
{% endblock %}
{% block content %}
  <div class="details_heading">
    <h2>
      Just start typing in the name of the last anime you watched.
    </h2>
  </div>
  <div id="todays_pick">
  </div> 
{% endblock %}
{% block script%}
{% endblock %}
{% block style %}
<style>
  .details_heading{
    width: 90%;
    justify-content: center;
    margin:auto;
  }
</style>
{% endblock %}