<!--extending the base template-->
{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  {{title}}
{% endblock %}
{% block link %}
  
{% endblock %}
{% block content %}
    <div class="Anime_rec_block">
    {%if data%}
      {%for i in data%}
          <div class="card">
            <img class="poster" src="{{i.img_url}}" alt="Some generic anime poste">
            <h4>{{i.title|truncate(20)}}</h4>
            <p class="price">{{i.score}}</p>
            {%if i.synopsis%}
              <p>{{i.synopsis|truncate(50)}}</p>
            {%else%}
              <p>Sorry we don't have a synopsis</p>
            {%endif%}
            <p><button>Veiw</button></p>
          </div> 
      {%endfor%}
    {%else%}
      I am out of chakra
    {%endif%}
  </div>
{% endblock %}
{% block script%}
{% endblock %}
{% block style %}
    <!--Style block-->
    <style>  
      .Anime_rec_block{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .card {
        margin-top: 1vh;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 1vh;
        padding-top: 1.5vh;
        padding-left: .5vw;
        padding-right: .5vw;
        box-shadow: 5px 10px 8px #888888;
        width:20vw;
        height: 70vh;
        text-align: center;
      }
      .poster{
        margin: auto;
        width: 18vw;
        height: 35vh;
      }
    </style>
{% endblock %}